{%extends "base.html"%} {%block title%}
<title>
    Portal
</title>
{% endblock %} {%block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Employee Portal</h3>
            <!-- <p>Back to
                <a class="err" href=" {{ url_for('index') }}">feedback</a>.
            </p> -->
            <p>Here you may review how each member of the sales department has performed. Please be aware this is confidental
                information. All violaters will be persectued to the fullest extent of the law. </p>
        </div>
    </div>
    <section class="row mt-5">

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <p>Jim</p>
                    <div class="emp_stats">
                        <div class="overall_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <p>Dwight</p>
                    <div class="overall_rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <p>Stanley</p>
                    <div class="overall_rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <p>Phyllis</p>
                    <div class="overall_rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{%endblock%}