{%extends "base.html"%} {%block title%}
<title>
    Profile
</title>
{% endblock %} {%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h1>My Profile</h1>
                    </div>
                    <i class="fas fa-id-badge fa-4x m-3"></i>
                    <h4>Welcome back, {{ current_user.email }}!</h4>

                    <hr class="mx-auto">
                    <p>
                        <em>last login 2019-01-01</em>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- main card for user profile  -->
    <div class="row mt-4">
        <div class="col-12 col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Profile Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            Number of reviews: 29
                        </div>
                        <div class="col-4">
                            Favorite Associate: Jim Halpert
                        </div>
                        <div class="col-4">
                            Least Associate: Dwight K Shrute
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}